/* color */
$c-primary: #2962FF;
$c-black: #212121;
$c-gray: #e0e0e0;
$c-gray-light: #eeeeee;
$c-gray-dark: #616161;
$c-white: #fffdfc;

/* padding */
$p-2xs: 4px;
$p-xs: 8px;
$p-sm: 16px;
$p-md: 20px;
$p-lg: 24px;
$p-xl: 32px;
$p-2xl: 40px;

/* margin */
$m-xs: 8px;
$m-sm: 16px;
$m-md: 20px;
$m-lg: 32px;
$m-xl: 40px;

/* breakpoint */
$bp-md: 786px;
